body {
    background-color: #f8f9fa;
}

.card-title i {
    margin-right: 5px;
}

.card {
    border-left: 5px solid #0d6efd;
}

.form-select, .form-label {
    font-size: 0.9rem;
}

canvas {
    max-height: 350px;
}
h2 i {
    margin-right: 8px;
}

.table th,
.table td {
    vertical-align: middle;
}

.table td .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}
